<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        
      </div>
    </div>
    
    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username"><%= @user.name %></h2>
        <% if @user == current_user %>
          <a class="edit-profile" href="<%= edit_user_registration_path%>">
            <button>Edit Profile</button>
          </a>
        <% end %>
      </div>
        <table>
          <% @user.name %>
            <tr>
              <th>Username</th><td><%= @user.username %></td>
            </tr>

            <tr>
              <th>Email</th><td><%= @user.email %></td>
            </tr>

            <tr>
              <th>Gender</th><td><%= @user.gender %></td>
            </tr>
        </table>
    </div>
  </div>
</div>

